{% extends "baseAdmin.html" %}

{% block title %}Catgories{% endblock %}

{% block section2 %}
<div>
    <h3>Category</h3>
  </div>
  <div class="bs-example">
    <a href="{% url 'create-category' %}" class= "btn btn-success add-rfp-button" >+Add Category</a>
    <br>
    <table id="categoryTable" class="display">
        <thead>
            <tr>
                <th>Sr no.</th>
                <th>Category Name</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for cat in category %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ cat.c_name }}</td>
                <td>
                    <div class="status-box">
                        <div class="status-cell {% if cat.c_status == 'active' %}status-green{% else %}status-red{% endif %}">
                            {{ cat.c_status|capfirst }}
                        </div>
                    </div>
                </td>
                <td>
                    {%if cat.c_status == "active" %}
                        <a href="{% url 'deactivate' cat.category_id %}" class="action-link reject-link red-link" ><I><strong>Deactivate</strong></I></a>
                    {%else%}
                        <a href="{% url 'activate' cat.category_id %}" class="action-link approve-link green link" ><I><strong>Activate</strong></I></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th data-column-index="0"></th>
                <th data-column-index="1"><input type="text" placeholder="Search Category Name" /></th>
                <th data-column-index="2"><input type="text" placeholder="Search Status" /></th>
                <th data-column-index="3"></th>
            </tr>
        </tfoot>
        
    </table>
    
{% endblock %}
{%block script%}
<script>
    $(document).ready(function() {
        var table = $('#categoryTable').DataTable({
            "pagingType": "full_numbers",
            "searching": true,
            "ordering": true,
            "order": [],  // Initial sorting order (empty to disable initial sorting)
            "columnDefs": [  // Enable sorting on specific columns
                { "orderable": false, "targets": [0, 3] }  // Disable sorting on columns 0 and 3
            ]
        });
    
        // Apply the search functionality to the footer inputs
        $('#categoryTable tfoot th input').on('keyup change', function() {
            var index = $(this).parent().index();  // Get the column index from the table cell
            table.column(index).search(this.value).draw();
        });
    });
    
</script>
{%endblock%}



