{% extends "baseAdmin.html" %}

{% block title %}Catgories{% endblock %}


{% block section2 %}
<div>
    <h3>Category</h3>
  </div>
  <div class="bs-example">
    <a href="{% url 'create-rfp' %}" class= "btn btn-success add-rfp-button" >+Add Category</a>
    <br>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Sr no.</th>
                <th>Category Name</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for cat in category %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ cat.c_name }}</td>
                <td>
                    <div class="status-box">
                        <div class="status-cell {% if cat.c_status == 'active' %}status-green{% else %}status-red{% endif %}">
                            {{ cat.c_status|capfirst }} <!-- Display the status -->
                        </div>
                    </div>
                </td>
                <td>
                    {%if cat.c_status == "active" %}
                        <a href="{% url 'deactivate' cat.category_id %}" class="action-link reject-link red-link" ><I><strong>Deactivate</strong></I></a>
                    {%else%}
                        <a href="{% url 'activate' cat.category_id %}" class="action-link approve-link green link" ><I><strong>Activate</strong></I></a>
                    {% endif %}
                    </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if category.has_previous %}
                <a href="?page=1">&laquo;</a> <!-- First page -->
                <a href="?page={{ category.previous_page_number }}">&lsaquo;</a> <!-- Previous page -->
            {% endif %}
            
            <!-- Display a fixed number of page numbers -->
            {% for page_num in category.paginator.page_range %}
                <a href="?page={{ page_num }}" {% if page_num == category.number %}class="current-page"{% endif %}>{{ page_num }}</a>
            {% endfor %}
    
            {% if category.has_next %}
                <a href="?page={{ category.next_page_number }}">&rsaquo;</a> <!-- Next page -->
                <a href="?page={{ category.paginator.num_pages }}">&raquo;</a> <!-- Last page -->
            {% endif %}
        </span>
    </div>
{% endblock %}




