{% extends "baseVendor.html" %}

{% block title %}Home - Dashboard{% endblock %}

{% block section1 %}
    
{% endblock %}

{% block section2 %}
<div>
    <h3>RFP List</h3>
</div>
<div class="bs-example">
    <br>
    <table id="rfptable" class="display">
        <thead>
            <tr>
                <th>RFP no.</th>
                <th>RFP Title</th>
                <th>REP Last Date</th>
                <th>Min Amount</th>
                <th>Max Amount</th>
                <th>Status</th>
                <th>Action</th>
                <th>Admin Comments</th> <!-- Add a column for Admin Comments -->
            </tr>
        </thead>
        <tbody>
            {% for rfp in rfps %}
            <tr {% if rfp in won_rfps %}class="won-rfp"{% endif %}>
                <td>{{ rfp.id }}</td>
                <td>{{ rfp.rfp_title }}</td>
                <td>{{ rfp.last_date }}</td>
                <td>{{ rfp.min_amount }}</td>
                <td>{{ rfp.max_amount }}</td>
                <td>
                    <div class="status-box">
                        <div class="status-cell {% if rfp.status == 'open' %}status-green{% else %}status-red{% endif %}">
                            {{ rfp.status|capfirst }}
                        </div>
                    </div>
                </td>
                <td>
                    {% if rfp.id in applied_rfps %}
                        {% if rfp in won_rfps %}
                            you won!
                        {% else %}
                            Applied
                        {% endif %}
                       
                    {%else%}
                    <a href="{% url 'apply-for-quote' rfp.id %}" class="action-link approve-link" data-status="Approved">
                        <strong><h4>Apply</h4></strong>
                    </a>
                    {%endif%}
                </td>
                
    
                <td>
                    {% for quote in quotes %}
                        {% if quote.rfp_id == rfp.id and not quote.updated and quote.vendor.user == request.user %}
                            {% if quote.admin_comments %}
                                <ul>
                                    <li>Admin Comments: {{ quote.admin_comments }}</li>
                                </ul>
                                <!-- Comments exist, enable apply button -->
                                <a href="{% url 'apply-for-quote-again' quote.quotes_id rfp.id %}" class="action-link approve-link" data-status="Approved">
                                    <strong><h4>Apply</h4></strong>
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th data-column-index="0"></th>
                <th data-column-index="1"><input type="text" placeholder="Search Title" /></th>
                <th data-column-index="2"><input type="text" placeholder="Search Last Date" /></th>
                <th data-column-index="3"><input type="text" placeholder="Amount" /></th>
                <th data-column-index="4"><input type="text" placeholder="Amount" /></th>
                <th data-column-index="5"></th>
                <th data-column-index="6"></th>
                <th data-column-index="7"></th>


            </tr>
        </tfoot>
    </table>
</div>
<style>
    .won-rfp {
        background-color: #b3ffb3; 
    }
</style>
{% endblock %}
{%block script%}
<script>
    $(document).ready(function() {
        var table = $('#rfptable').DataTable({
            "pagingType": "full_numbers",
            "searching": true,
            "ordering": true,
            "order": [],  // Initial sorting order (empty to disable initial sorting)
            "columnDefs": [  // Enable sorting on specific columns
                { "orderable": false, "targets": [0, 7] }  // Disable sorting on columns 0 and 3
            ]
        });
    
        // Apply the search functionality to the footer inputs
        $('#rfptable tfoot th input').on('keyup change', function() {
            var index = $(this).parent().index();  // Get the column index from the table cell
            table.column(index).search(this.value).draw();
        });
    });
    
</script>
{%endblock%}