{% extends "baseAdmin.html" %}

{% block title %}RFP List{% endblock %}


{% block section2 %}
<div>
    <h3>RFP List</h3>
  </div>
  <div class="bs-example">
    <a href="{% url 'select_category' %}" class= "btn btn-success add-rfp-button" >+Add RFP</a>
    <br>
    <table id="rfptable" class="display">
        <thead>
            <tr>
                <th>RFP no.</th>
                <th>RFP Title</th>
                <th>REP Last Date</th>
                <th>Min Amount</th>
                <th>Max Amount</th>
                <th>Status</th>
                <th>Action</th>
                <th>Convert to</th>
            </tr>
        </thead>
        <tbody>
            {% for rfp in rfps %}
            <tr>
                <td>{{ rfp.id }}</td>
                <td>{{ rfp.rfp_title }}</td>
                <td>{{ rfp.last_date }}</td>
                <td>{{ rfp.min_amount }}</td>
                <td>{{ rfp.max_amount }}</td>
                <td>
                    <div class="status-box">
                        <div class="status-cell {% if rfp.status == 'open' %}status-green{% else %}status-red{% endif %}">
                            {{ rfp.status|capfirst }} <!-- Display the status -->
                        </div>
                    </div>
                </td>
                <td>
                    {% if rfp.status == "close"%}
                        <a href="{% url 'rfp-open' rfp.id %}" class="action-link approve-link green link" data-status="Approved"><I>Open </I></a>
                    {%else%}
                        <a href="{% url 'rfp-close' rfp.id %}" class="action-link reject-link red link" data-status="Rejected"><I>Close</I></a>
                    {% endif %}
                    </td>
                <td>
                    <a href="{% url 'export_quotations' rfp.id %}" class="btn btn-primary" download>CSV</a>


                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th data-column-index="0"></th>
                <th data-column-index="1"><input type="text" placeholder="Title" /></th>
                <th data-column-index="2"><input type="text" placeholder="Last Date" /></th>
                <th data-column-index="3"><input type="text" placeholder="Min amount" /></th>
                <th data-column-index="4"><input type="text" placeholder="Max amount" /></th>
                <th data-column-index="5"><input type="text" placeholder="status" /></th>
                <th data-column-index="6"></th>
                <th data-column-index="7"></th>


            </tr>
        </tfoot>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if rfps.has_previous %}
                <a href="?page=1">&laquo;</a> <!-- First page -->
                <a href="?page={{ rfps.previous_page_number }}">&lsaquo;</a> <!-- Previous page -->
            {% endif %}
            
            <!-- Display a fixed number of page numbers -->
            {% for page_num in rfps.paginator.page_range %}
                <a href="?page={{ page_num }}" {% if page_num == rfps.number %}class="current-page"{% endif %}>{{ page_num }}</a>
            {% endfor %}
    
            {% if rfps.has_next %}
                <a href="?page={{ rfps.next_page_number }}">&rsaquo;</a> <!-- Next page -->
                <a href="?page={{ rfps.paginator.num_pages }}">&raquo;</a> <!-- Last page -->
            {% endif %}
        </span>
    </div>
{% endblock %}


{%block script%}
<script>
    $(document).ready(function() {
        var table = $('#rfptable').DataTable({
            "pagingType": "full_numbers",
            "searching": true,
            "ordering": true,
            "order": [],  // Initial sorting order (empty to disable initial sorting)
            "columnDefs": [  // Enable sorting on specific columns
                { "orderable": false, "targets": [0, 7] }  // Disable sorting on columns 0 and 3
            ]
        });
    
        // Apply the search functionality to the footer inputs
        $('#rfptable tfoot th input').on('keyup change', function() {
            var index = $(this).parent().index();  // Get the column index from the table cell
            table.column(index).search(this.value).draw();
        });
    });
    
</script>
{%endblock%}



