{% extends "baseAdmin.html" %}

{% block title %}RFP Quotes{% endblock %}


{% block section2 %}
<div>
    <h3>RFP List</h3>
  </div>
  <div class="bs-example">
    <br>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Serial no.</th> 
                <th>RFP no.</th> 
                <th>Item Name</th> 
                <th>Vendor Id</th> 
                <th>Vendor Price</th> 
                <th>Quantity</th> 
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            {% for quote in quotes %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ quote.rfp.id }}</td>
                    <td>{{ quote.rfp.rfp_title }}</td>
                    <td>{{ quote.vendor.user.id }}</td>
                    <td>{{ quote.vendor_price }}</td>
                    <td>{{ quote.quantity }}</td>
                    <td>{{ quote.total_price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if quotes.has_previous %}
                <a href="?page=1">&laquo;</a> <!-- First page -->
                <a href="?page={{ quotes.previous_page_number }}">&lsaquo;</a> <!-- Previous page -->
            {% endif %}
            
            <!-- Display a fixed number of page numbers -->
            {% for page_num in quotes.paginator.page_range %}
                <a href="?page={{ page_num }}" {% if page_num == quotes.number %}class="current-page"{% endif %}>{{ page_num }}</a>
            {% endfor %}
    
            {% if quotes.has_next %}
                <a href="?page={{ quotes.next_page_number }}">&rsaquo;</a> <!-- Next page -->
                <a href="?page={{ quotes.paginator.num_pages }}">&raquo;</a> <!-- Last page -->
            {% endif %}
        </span>
    </div>
{% endblock %}





