{% extends "baseAdmin.html" %}

{% block section2 %}
  <div class="container" style = "padding: 20px;"> 
    <h2>Create RFP</h2>
    <form method="post">
      {% csrf_token %}
      <div class="form-group" style = "padding: 10px;">
        <label for="{{ form.rfp_title.id_for_label }}">RFP TITLE:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{ form.rfp_title }}
    </div>
    <div class="form-group" style = "padding: 10px;">
        <label for="{{ form.item_desc.id_for_label }}">ITEM DESCRIPTION :</label>
        {{ form.item_desc }}
    </div>
    <div class="form-group" style = "padding: 10px;">
        <label for="{{ form.last_date.id_for_label }}">LAST DATE:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {{ form.last_date }}
    </div>
    <div class="form-group" style = "padding: 10px;">
      <label for="{{ form.min_amount.id_for_label }}">MIN AMOUNT:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      {{ form.min_amount }}
  </div>
  <div class="form-group" style = "padding: 10px;">
    <label for="{{ form.max_amount.id_for_label }}">MAX AMOUNT:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {{ form.max_amount }}
  </div>
 
  <div class="form-group" style = "padding: 10px;">
    <label for="{{ form.vendors.id_for_label }}">vendors:</label>
    <select id="{{ form.vendors.id_for_label }}" name="{{ form.vendors.name }}" multiple style="width: 300px;">
        {% for vendor in form.vendors.field.queryset %}
            <option value="{{ vendor.pk }}">{{ vendor }}</option>
        {% endfor %}
    </select>
</div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  
  <script>
    $(document).ready(function() {
      $('#{{ form.vendors.id_for_label }}').select2();
  });
   
    // Wait for the document to be ready
    document.addEventListener('DOMContentLoaded', function() {
      // Get the last_date input element by its ID
      const lastDateInput = document.getElementById('{{ form.last_date.id_for_label }}');
      
      // Check if the input element exists
      if (lastDateInput) {
        // Set its type to 'date' to enable the calendar
        lastDateInput.type = 'date';
        const currentDate = new Date().toISOString().split('T')[0];

      // Set the minimum date for the last date input to the current date
        lastDateInput.min = currentDate;
      }
    });
  </script>
{% endblock %}